img {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "eva";
    src: url("../font/eva.woff2") format("woff2"), url("../font/eva.woff") format("woff"), url("../font/eva.ttf") format("truetype"), url("../font/eva.eot") format("embedded-opentype"), url("../font/eva.svg") format("svg");
}

@font-face {
    font-family: 'eva_Chinese';
    src: url('../font/FZCSJW.TTF') format("truetype")
}